html {
    font-size: 3vw;
}

#logo {
    position: absolute;
    margin-left: 1.5%;
    margin-top: 0.6%;
    color:rgb(85, 156, 4);
    font-size: 1rem;
    z-index: 10;
}

* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
     border: 0;
}

body {
    background-color: black;
}

#lang {
    position: absolute;
    width: 5.2vw; 
    height: 4vh;
    top: 4%;
    left: 85%; 
    border-width: 0.08px;
    border-radius: 5%;
    border-color: white;
    background-color: black;
    color: white;
    outline: 0; 
    font-size: 0.9vw;
    z-index: 10;
}

#login {
    position: absolute;
    width: 5vw; 
    height: 4vh;
    top: 4%;
    left: 85%; 
    margin-left: 7%;
    border: 0;
    border-radius: 5%;
    background-color: rgb(85, 156, 4);
    color: white;
    font-size: 0.9vw;   
    z-index: 10;
}

#picture {
    width: 100%;
    z-index: 1;
}

.first {
    position: relative  ;
    top: 1vh;
    left: 1vw; 
    text-align: center;
    font-size: 4vw;
    color: white;
    z-index: 10;
}

.second {
    position: relative;
    top: 1%;
    left: 1%; 
    text-align: center;
    font-size: 1.5vw;
    color: white;
    z-index: 10;
}

.third {
    position: absolute;
    top: 450px;
    left: 420px; 
    text-align: center;
    font-size: 0.9vw;
    color: white;
    z-index: 10;
}

#email_box {
    position: absolute;
    width: 30vw; 
    height:7vh;
    top: 50vh;
    left: 30vw; 
    border: 0;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    z-index: 10;
}

#start {
    position: absolute;
    width: 12vw; 
    height: 7vh;  
    top: 50vh;
    left: 60vw; 
    border: none;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
    background-color: rgb(85, 156, 4);
    color: white;
    z-index: 10;
}

#line {
    size: 10px;
    color: grey;
    z-index: 3;
}