html {
    font-size: 3vw;
}

#logo {
    position: absolute;
    margin-left: 1.5%;
    margin-top: 0.6%;
    color:rgb(85, 156, 4);
    font-size: 1rem;
    z-index: 10;
}

* {
    margin: 0; 
    padding: 0;
}

body {
    font-family: sans-serif;
}

li {
    list-style: none;
}

a { 
    text-decoration: none;
}

img {
     border: 0;
}

body {
    background-color: black;
}

#lang {
    position: absolute;
    width: 5.2vw; 
    height: 4vh;
    top: 4%;
    left: 85%; 
    border-width: 0.08px;
    border-radius: 5%;
    border-color: white;
    background-color: black;
    color: white;
    outline: 0; 
    font-size: 0.9vw;
    z-index: 10;
}



#login {
    position: absolute;
    width: 5vw; 
    height: 4vh;
    top: 4%;
    left: 85%; 
    margin-left: 7%;
    border: 0;
    border-radius: 5%;
    background-color: rgb(85, 156, 4);
    color: white;
    font-size: 0.9vw;   
    z-index: 10;
}

#picture {
    width: 100%;
    z-index: 1;
}

.first {
    position: absolute;
    top: 30vh;
    left: 30vw; 
    text-align: center;
    font-size: 4vw;
    color: white;
    z-index: 10;
}

.second {
    position: absolute;
    top: 55vh;
    left: 30vw; 
    text-align: center;
    font-size: 1.5vw;
    color: white;
    z-index: 10;
}

.third {
    position: absolute;
    top: 65vh;
    left: 30vw; 
    text-align: center;
    font-size: 0.9vw;
    color: white;
    z-index: 10;
}

#email_box {
    position: absolute;
    width: 30vw; 
    height:7vh;
    top: 80vh;
    left: 30vw; 
    border: 0;
    border-top-left-radius: 3px; 
    border-bottom-left-radius: 3px;
    z-index: 10;
}

#start {
    position: absolute;
    width: 12vw; 
    height: 7vh;  
    top: 80vh;
    left: 60vw; 
    border: none;
    border-top-right-radius: 3px; 
    border-bottom-right-radius: 3px;
    background-color: rgb(85, 156, 4);
    color: white;
    z-index: 10;
}

/*--------------------------content-----------------------*/

#line {
    height: 1.2vh;
    color: rgb(63, 63, 63);
    background-color: rgb(63, 63, 63);
    border: none;
    z-index: 3;
}

.odd > text_title {
    position: relative;
    left: 20vw;
    top: 10vh;
    margin-bottom: 1%;
    font-size: 0.7rem;
}

.description {
    position: relative;
    left: 20vw;
    top: 20vh;
    font-size: 0.4rem;
}

.content_img {
    position: relative;
    width: 30vw;
    height: auto;
    left: 50vw;
    top: 0vh;
    z-index: 10;
    margin-bottom: 2%   ;
}

#content {
    color: white;
    z-index: 10;
}

.btn {
    color:grey;
    background-color: black;
    border: none; 
}

#name {
    margin-bottom: 3%;
}

.title_question {
    position: relative;
    left: 40vw;
    margin-bottom: 3%;
}

.btn_question {
    position: relative;
    width: 40vw;
    height: 10vh;
    left: 30%;
    margin-bottom: 1%;
    border: none;
    color: white;
    font-size: 0.5rem;
    text-align: left;
    padding-left: 1%;
    background-color: rgb(63, 63, 63);
}

#plus {
    text-align: right;
    margin-right: 1%;
}

/*-----------------------푸터---------------------------*/
#footer {
    color:grey;
    z-index: 10;
}

#question {
    position: relative;
    left: 25vw;
    font-size: 0.35rem;
    margin-top: 5%;

}

.ftr_btn {
    position: relative;
    left: 25vw;

}

.set_language {
    position: relative;
    left: 25vw;
    width: 6vw; 
    height: 5vh;
    border-width: 0.08px;
    border-radius: 5%;
    border-color:rgb(223, 223, 223);
    background-color: black;
    color: white;
    outline: 0; 
    font-size: 0.9vw;
    z-index: 10;
}

h5 {
    position: relative;
    left: 25vw;
    font-size: 0.8vw;
    margin-top: 1%;
    margin-bottom: 1%;
}

#info {
    font-size: 0.76vw;
    padding-bottom: 0.2%;
    position: relative;
    left: 25vw
}